* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --font-color: #323238;
    --bg-color: #f1efef;
    --controls-fill: #323238;
    --btn-bg: #E1E1E6;
    --btn-bg-selected: #02799D;
    --btn-icon-fill-selected: #f1efef;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: var(--bg-color);
}

main {
    display: flex;
    gap: 19rem;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

#timer-time span {
    font-size: clamp(8rem, 3rem + 10vw, 12rem);
    font-family: "Roboto";
    color: var(--font-color);
}

button {
    border: none;
}

.hide {
    display: none;
}

#timer-controls {
    display: flex;
    gap: 3rem;
}

#sounds {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
    width: 30.8rem;
    height: 33.6rem;
}

.forest,
.rain,
.cafe,
.fireplace {
    width: 13.7rem;
    height: 15rem;
    border-radius: 2.4rem;
    background: var(--btn-bg);
}

.forest-selected,
.rain-selected,
.cafe-selected,
.fireplace-selected {
    width: 13.7rem;
    height: 15rem;
    border-radius: 2.4rem;
    background: var(--btn-bg-selected);
}

@media(max-width: 950px) {
    main {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

    #timer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }

    #timer-time span {
        font-size: clamp(5rem, 3rem + 10vw, 8rem);
        font-family: "Roboto";
        color: var(--font-color);
    }

    #timer-controls {
        display: flex;
        gap: 2rem;
    }

    #sounds {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        width: 20.8rem;
        height: 23.6rem;
    }

    .forest,
    .cafe,
    .rain,
    .fireplace {
        width: 9.3rem;
        height: 10.7rem;
        border-radius: 2.4rem;
        background: var(--btn-bg);
    }

    .forest-selected,
    .rain-selected,
    .cafe-selected,
    .fireplace-selected {
        width: 9.3rem;
        height: 10.7rem;
        border-radius: 2rem;
        background: var(--btn-bg-selected);
    }
}